<!DOCTYPE html>
<html lang="en">
    <%- include('../layout/head') %>
<body>
    <%- include('../layout/header') %>
    <main>
        <% data.forEach(element => { %>
         
            <div class="div">
                <img src="<%= element.image_link %>" alt="">
                <h2>Name: <%= element.name %> </h2>
                <h3>Price: $<%= element.price %> </h3>
                <p>Description: <%= element.description %></p>
            </div>

        <% }) %>
    </main>
    <%- include('../layout/footer') %>
</body>
</html>